<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 center">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="exampleModalLabel">Register</h5>

          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputFullName">
                FullName
              </label>
              <input type="text" class="form-control" formControlName="FullName" id="FullName" />
              <small *ngIf="registerForm.controls['FullName'].touched
                            && registerForm.controls['FullName'].hasError('required')">FullName is Required</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">
                Email
              </label>
              <input type="first" class="form-control" formControlName="Email" id="Email" />
              <small *ngIf="registerForm.controls['Email'].touched
                              && registerForm.controls['Email'].hasError('required')">Email is Required</small>
            </div>
            <div class="form-group">
              <label for="exampleInputUserName">
                UserName
              </label>
              <input type="first" class="form-control" formControlName="UserName" id="UserName" />
              <small *ngIf="registerForm.controls['UserName'].touched
                                  && registerForm.controls['UserName'].hasError('required')"></small>
            </div>

            <div class="form-group">

              <label for="exampleInputPassword">
                Password
              </label>
              <input type="Password" class="form-control" formControlName="Password" id="exampleInputPassword" />
              <small *ngIf="registerForm.controls['Password'].touched
                                      && registerForm.controls['Password'].hasError('required')"></small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="openLogin()" class="btn btn-secondary">Back to login</button>
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">
              register
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
