
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1>LOGIN</h1>

              </div>

              <form [formGroup]="loginForm" (ngSubmit)="logIn()">

                  <div class="mb-3">
                    <label for="exampleInputUserName" class="form-label">UserName</label>
                    <input type="UserName" formControlName="UserName" placeholder="Enter UserName" class="form-control" id="exampleInputUserName" aria-describedby="UserNameHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label">Password</label>
                    <input type="Password" formControlName="Password" placeholder="Enter Correct Password" class="form-control" id="exampleInputPassword">
                  </div>
                  <button type="submit" [disabled] = "!loginForm.valid"  class="btn btn-primary">LogIn</button>
                </form>
                <a style="color: blue; margin-top:10px;" [routerLink]="['/register']">New User ? Click to Register!</a>
          </div>
      </div>
  </div>
</div>
