.card.col-md-5.col-12.box2 {
  /* background-color: #b2b0de; */
  margin: 5px;
}

.card.col-md-5.col-12.box1 {
  /* background-color: #a8a994; */
  margin: 5px;
}

.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
  }
